<!DOCTYPE html>
<html>
<head>
	<title>Explore</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
 
<script src="/static/validation/jquery.min.js"></script>
  <script src="/static/bootstrap/css/bootstrap.min.css" ></script>
   <script src="/static/bootstrap/js/bootstrap.min.js" ></script>
</head>
<body class="bg-primary" >
<marquee scrolldelay=1>
<button class="btn btn-danger">The World is Yours</button>
</marquee><br>

<marquee>
<button class="btn btn-info">The World is Yours</button>
</marquee><br>

<marquee scrolldelay=1>
<button class="btn btn-success">The World is Yours</button>
</marquee><br>

<marquee>
<button class="btn btn-danger">The World is Yours</button>
</marquee><br>

<marquee scrolldelay=1>
<button class="btn btn-danger">The World is Yours</button>
</marquee><br>

<marquee>
<button class="btn btn-info">The World is Yours</button>
</marquee><br>

<marquee scrolldelay=1>
<button class="btn btn-success">The World is Yours</button>
</marquee><br>

<marquee>
<button class="btn btn-danger">The World is Yours</button>
</marquee><br>
<marquee scrolldelay=1>
<button class="btn btn-danger">The World is Yours</button>
</marquee><br>

<marquee>
<button class="btn btn-info">The World is Yours</button>
</marquee><br>

<marquee scrolldelay=1>
<button class="btn btn-success">The World is Yours</button>
</marquee><br>

<marquee>
<button class="btn btn-danger">The World is Yours</button>
</marquee><br>
<marquee scrolldelay=1>
<button class="btn btn-danger">The World is Yours</button>
</marquee><br>

<marquee>
<button class="btn btn-info">The World is Yours</button>
</marquee><br>

<marquee scrolldelay=1>
<button class="btn btn-success">The World is Yours</button>
</marquee><br>

<marquee>
<button class="btn btn-danger">The World is Yours</button>
</marquee><br>
<marquee scrolldelay=1>
<button class="btn btn-danger">The World is Yours</button>
</marquee><br>

<marquee>
<button class="btn btn-info">The World is Yours</button>
</marquee><br>

<marquee scrolldelay=1>
<button class="btn btn-success">The World is Yours</button>
</marquee><br>

<marquee>
<button class="btn btn-danger">The World is Yours</button>
</marquee><br>
<marquee scrolldelay=1>
<button class="btn btn-danger">The World is Yours</button>
</marquee><br>

<marquee>
<button class="btn btn-info">The World is Yours</button>
</marquee><br>

<marquee scrolldelay=1>
<button class="btn btn-success">The World is Yours</button>
</marquee><br>

<marquee>
<button class="btn btn-danger">The World is Yours</button>
</marquee><br>
<marquee scrolldelay=1>
<button class="btn btn-danger">The World is Yours</button>
</marquee><br>

<marquee>
<button class="btn btn-info">The World is Yours</button>
</marquee><br>

<marquee scrolldelay=1>
<button class="btn btn-success">The World is Yours</button>
</marquee><br>

<marquee>
<button class="btn btn-danger">The World is Yours</button>
</marquee><br>

</body>
</html>